{% extends "main.html" %}
{% block content %}
{% include "navbar.html" %}
  <div class="container">
    {% include "flash.html" %}
    <div class="row">
      <strong>
        After logging in, this is the page you will be rerouted to. Depending on your user type, context specific links will appear on the navagation bar. From these views, you will be able to access
        these capabilities: <br><br>

        <li>My Shifts: Create, view, edit, and delete shifts to list for trade, as well as view pending and approved trades.</li>
        <li>Open Shifts: View shifts currently put up on the "market" by your coworkers, as well as being able to "accpet" that shift.</li>
        <li>Schedule: View available to store managers to approve or reject employee trades.</li>
        <li>Admin Panel: View available to administrators used to manage basic user functions such as user type, permissions, and store assignments.</li>
      </strong>
    </div>
  </div>
{% endblock %}