{% extends 'login_main.html' %}
{% block content %}
{% include "navbar_no_buttons.html" %}
  <div align="middle">
    <div class="alert alert-info alert-dismissible fade in" style="width: 500px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Please log in with your Google account to access the webpage.
    </div>

    <div class="row">
      <div id="signInButton" align="middle">
        <span class="g-signin"
        data-scope="openid email"
        data-clientid="350430764388-2mqvf5kcr9h1h64jnq1n8vmufvhf7fdt.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
        </span>
      </div>
      <div id="result"></div>      
      <div class="container">
        <strong> Our authorization system is done using Google OAuth. After logging in, you will be
        rerouted to the "admin" page, where you can see all of the shift data.</strong>
      </div>  
    </div>

  <!-- GOOGLE PLUS SIGN IN-->
  <script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/";
           }, 4000);
            
        } else if (authResult['error']) {
      console.log('There was an error: ' + authResult['error']);
    } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }
        
    }); } }
  </script>
  <!--END GOOGLE PLUS SIGN IN -->
{% endblock %}
