{% extends "main.html" %}
{% include "navbar.html" %}
{% block content %}
  <!-- Modal -->
  <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">   
        <div class="modal-body">
          <h3>Are you sure you want to approve shift change?</h3>
        </div>
        <div class="modal-footer">
          <form class="col-md-12" action="{{url_for('showSchedule', userType=userType)}}" method="post">
            <input name="shiftID" type="text" value="" id="approveID" hidden="True"/>
            <div class="row">
              <div class="form-group">
                <button type="submit" name="approve" class="btn btn-primary btn-lg">Yes</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" aria-label="Close">No</button>
              </div>
            </div>
          </form>
        </div>    
      </div>
    </div>
  </div>

  <!-- deleteModal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">   
        <div class="modal-body">
          <h3>Are you sure you want to delete shift?</h3>
        </div>
        <div class="modal-footer">
          <form class="col-md-12" action="{{url_for('showSchedule', userType=userType)}}" method="post">
            <input name="shiftID" type="text" value="" id="deleteID" hidden="True"/>
            <div class="row">
              <div class="form-group">
                <button type="submit" name="delete" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" aria-label="Close">No</button>
              </div>
            </div>
          </form>
        </div>    
      </div>
    </div>
  </div>

	<div class="container content-fluid">

	{% include "flash.html" %}

    <div class="row">
    <h2>Pending Requests: </h2>
    {% if pending_shifts == [] %}
      <h3>There are no pending requests.</h3>
    {% endif %}
    <!-- Regular Shifts -->
      {% for shift in pending_shifts %}
        {% if shift == pending_shifts[4] %}
          </div>
          <br>
          <div class="row">
        {% endif %}
		<div class="btn-group col-md-3">
			<button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<strong>
					{{ shift[4].month }}/{{ shift[4].day }}
				</strong>
				&#64;
				{% if shift[3] == 1 %}
					8:00am - 4:00pm
				{% elif shift[3] == 2 %}
					4:00pm - 12:00am
				{% elif shift[3] == 3 %}
					12:00am - 8:00am
				{% endif %}
				<span class="caret"></span>
			</button>
      {% if user_perms[-2] == true and user_perms[-3] == true %}
				<ul class="dropdown-menu">
          {% if user_perms[-2] == true %}
					<li><a href="#" data-toggle="modal" data-target="#approveModal" class="approve_link" shiftID="{{shift[0]}}">Accept</a></li>
          {% endif %}
          {% if user_perms[-2] == true %}
          <li><a href="#" data-toggle="modal" data-target="#deleteModal"  class="delete_link" shiftID="{{ shift[0] }}">Delete</a></li>
          {% endif %}
				</ul>
      {% endif %}
		</div>
	{% endfor %}
	</div>
</div>
<script>
  // Approve function
  $(document).on('click', '.approve_link', function (event) {
    // Get shift id of the element that was pressed
    var shiftID = $(event.target).attr('shiftID');
    console.log(shiftID);
    // Change value of shift to be approved on modal form.
    $("#approveID").attr("value", shiftID);
  })

  // Delete function
  $(document).on('click', '.delete_link', function (event) {
    // Get shift id of the element that was pressed
    var shiftID = $(event.target).attr('shiftID');
    console.log(shiftID);
    // Change value of shift to be deleted on delete modal form.
    $("#deleteID").attr("value", shiftID);
  })
</script>
{% endblock %}