{% extends "main.html" %}
{% include "navbar.html" %}
{% block content %}
<div>

  {% include "flash.html" %}
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create New Shift</h4>
        </div>
        
        <div class="modal-body">
          <form class="col-md-12" action="{{url_for('showMyShifts', userType=userType)}}" method="post">

            <div class="row">
              <div class="form-group col-md-6">
                <label for="time">Shift</label>
                <select name="time" class="form-control" id="time" required>
                  <option value="1">8:00am - 4:00pm</option>
                  <option value="2">4:00pm - 12:00am</option>
                  <option value="3">12:00am - 8:00am</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="date">Date</label>
                <br>
                <input name="date" type="text" class="datepicker" required>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="urgent">Urgent</label>
                <input name="urgent" type="checkbox" id="urgent">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <button type="submit" name="submit" class="btn btn-primary pull-right" id="myShiftSubmit">Create Shift</button>
                <button type="reset" class="btn btn-default pull-right ">Reset</button>
              </div>
            </div>
          </form>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>


  <!-- editModals -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Shift:
        </div>
        
        <div class="modal-body">
          <form class="col-md-12" action="{{url_for('showMyShifts', userType=userType)}}" method="post">

            <div class="row">
              <div class="form-group col-md-6">
                <label for="shift">Shift</label>
                <select name="shift" class="form-control"required>
                  {% for shift in created_shifts %}
                    <option value="{{ shift[0] }}" id="shift{{ shift[0] }}">
                      <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
                      &#64;
                      {% if shift[3] == 1 %}
                        8:00am - 4:00pm
                      {% elif shift[3] == 2 %}
                        4:00pm - 12:00am
                      {% elif shift[3] == 3 %}
                        12:00am - 8:00am
                      {% endif %}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="time">Time</label>
                <select name="time" class="form-control"required>
                  <option value="1" id="timeOpt1">8:00am - 4:00pm</option>
                  <option value="2" id="timeOpt2">4:00pm - 12:00am</option>
                  <option value="3" id="timeOpt3">12:00am - 8:00am</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="date">Date</label>
                <br>
                <input name="date" type="text" class="datepicker" id="editDate"required>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="urgent">Urgent</label>
                <input name="urgent" type="checkbox" id="urgentCheckbox">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <button type="submit" name="submitEdits" class="btn btn-primary pull-right">Submit Edits</button>
                <button type="button" class="btn btn-default pull-right " data-dismiss="modal" aria-label="Close" id="editCancel">Cancel</button>
              </div>
            </div>
          </form>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>

  <!-- deleteModal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">   
        <div class="modal-body">
          <h3>Are you sure you want to delete shift?</h3>
        </div>
        <div class="modal-footer">
          <form class="col-md-12" action="{{url_for('showMyShifts', userType=userType)}}" method="post">
            <input name="shiftID" type="text" value="" id="deleteID" hidden="True"/>
            <div class="row">
              <div class="form-group">
                <button type="submit" name="delete" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" aria-label="Close">No</button>
              </div>
            </div>
          </form>
        </div>    
      </div>
    </div>
  </div>

  <br>
  <br>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create New Shift Trade
      </button>
    </div>
    <br>
    <div class="row">
      <h2>Requested Shift Changes: </h2>
    </div>
    <div class="row">
      {% for shift in created_shifts %}
        {% if shift == created_shifts[4] %}
          </div>
          <br>
          <div class="row">
        {% endif %}
        {% if shift[-3] == True %}
          <!-- Urgent Shift -->
          <div class="btn-group col-md-3">
            <button type="button" class="btn btn-danger dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
              &#64;
              {% if shift[3] == 1 %}
                8:00am - 4:00pm
              {% elif shift[3] == 2 %}
                4:00pm - 12:00am
              {% elif shift[3] == 3 %}
                12:00am - 8:00am
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#editModal" class="edit_link" class="edit_link" shiftID="{{ shift[0] }}" num="{{shift[3]}}" date="0{{shift[4].month}}/{{shift[4].day}}/{{shift[4].year}}" urgent="true">edit</a></li>
              <li><a href="#" data-toggle="modal" data-target="#deleteModal"  class="delete_link" shiftID="{{ shift[0] }}">Delete</a></li>
            </ul>
          </div>
        {% else %}
          <!-- Regular Shift -->
          <div class="btn-group col-md-3">
            <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
              &#64;
              {% if shift[3] == 1 %}
                8:00am - 4:00pm
              {% elif shift[3] == 2 %}
                4:00pm - 12:00am
              {% elif shift[3] == 3 %}
                12:00am - 8:00am
              {% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#editModal" class="edit_link" shiftID="{{ shift[0] }}" num="{{shift[3]}}" date="0{{shift[4].month}}/{{shift[4].day}}/{{shift[4].year}}" urgent="false">edit</a></li>
              <li><a href="#" data-toggle="modal" data-target="#deleteModal" class="delete_link" shiftID="{{ shift[0] }}">delete</a></li>
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <br>

    <div class="row">
      <h2>Pending Approval: </h2>
      <p>Unless rejected, you are currently responsible for these shifts</p>
    </div>

    <div class="row">
      <!-- Pending Shifts -->
      {% for shift in pending_shifts %}
        <div class="btn-group col-md-3">
          <button type="button" class="btn btn-warning dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
            &#64;
            {% if shift[3] == 1 %}
              8:00am - 4:00pm
            {% elif shift[3] == 2 %}
              4:00pm - 12:00am
            {% elif shift[3] == 3 %}
              12:00am - 8:00am
            {% endif %}
          </button>
        </div>
      {% endfor %}
    </div>

    <br>
    <br>

    <div class="row">
      <h3>Shifts Accepted: </h3>
      <p> You are now responsible for working these shifts.</p>
    </div>

    <div class="row">
      <!-- Accepted Shifts -->
      {% for shift in approved_accepts %}
        <div class="btn-group col-md-3">
          <button type="button" class="btn btn-success dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
            &#64;
            {% if shift[3] == 1 %}
              8:00am - 4:00pm
            {% elif shift[3] == 2 %}
              4:00pm - 12:00am
            {% elif shift[3] == 3 %}
              12:00am - 8:00am
            {% endif %}
          </button>
        </div>
      {% endfor %}
    </div>

    <br>

    <div class="row">
      <h3>Shifts Traded: </h3>
      <p> You are <strong>no longer</strong> responsible for working these shifts.</p>
    </div>

    <div class="row">
      <!-- Accepted Shifts -->
      {% for shift in approved_requests %}
        <div class="btn-group col-md-3">
          <button type="button" class="btn btn-success dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
            &#64;
            {% if shift[3] == 1 %}
              8:00am - 4:00pm
            {% elif shift[3] == 2 %}
              4:00pm - 12:00am
            {% elif shift[3] == 3 %}
              12:00am - 8:00am
            {% endif %}
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
<script>
  // Delete function
  $(document).on('click', '.delete_link', function (event) {
    // Get shift id of the element that was pressed
    var shiftID = $(event.target).attr('shiftID');
    console.log(shiftID);
    // Change value of shift to be deleted on delete modal form.
    $("#deleteID").attr("value", shiftID);
  })

  // Edit function
  $(document).on('click', '.edit_link',function (event) {
    // Get shift information
    var shiftID = $(event.target).attr('shiftID');
    var num = $(event.target).attr('num');
    var date = $(event.target).attr('date');
    var urgent = $(event.target).attr('urgent');
    console.log(urgent);
    // Change selected option on edit modal to match id
    $("#shift" + shiftID).attr("selected", true)
    // Change selected time option
    $("#timeOpt" + num).attr("selected", true)
    // Change date
    $("#editDate").attr("value", date)
    // Change urgent checkbox
    if (urgent === true){
      $("#urgentCheckbox").attr("checked", true);
    } else {
      $("#urgentCheckbox").attr("selected", false);
    }
  })

  // Clear date field
  $(document).on('click', '#editCancel', function (event) {
    $("#editDate").removeAttr("value");
  })
</script>
{% endblock %}