{% extends "main.html" %}
{% include "navbar.html" %}
{% block content %}
<div>

  {% include "flash.html" %}
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create New Shift</h4>
        </div>
        
        <div class="modal-body">
          <form class="col-md-12" action="{{url_for('showMyShifts', userType=userType)}}" method="post">

            <div class="row">
              <div class="form-group col-md-6">
                <label for="time">Shift</label>
                <select name="time" class="form-control" id="time" required>
                  <option value="1">8:00am - 4:00pm</option>
                  <option value="2">4:00pm - 12:00am</option>
                  <option value="3">12:00am - 8:00am</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="date">Date</label>
                <br>
                <input name="date" type="text" id="datepicker" required>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="urgent">Urgent</label>
                <input name="urgent" type="checkbox" id="urgent">
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <button type="submit" name="submit" class="btn btn-primary pull-right" id="myShiftSubmit">Create Shift</button>
                <button type="reset" class="btn btn-default pull-right ">Reset</button>
              </div>
            </div>
          </form>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create New Shift Trade
      </button>
    </div>
    <br>
    <div class="row">
      <h2>Requested change</h2>
    </div>
    {% for shift in created_shifts %}
      {% if shift[-2] == True %}
        <!-- Urgent Shift -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
            &#64;
            {% if shift[3] == 1 %}
              8:00am - 4:00pm
            {% elif shift[3] == 2 %}
              4:00pm - 12:00am
            {% elif shift[3] == 3 %}
              12:00am - 8:00am
            {% endif %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">edit</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      {% else %}
        <!-- Regular Shift -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{ shift[4].month }}/{{ shift[4].day }}</strong>
            &#64;
            {% if shift[3] == 1 %}
              8:00am - 4:00pm
            {% elif shift[3] == 2 %}
              4:00pm - 12:00am
            {% elif shift[3] == 3 %}
              12:00am - 8:00am
            {% endif %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">edit</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}