{% extends "main.html" %}
{% include "navbar.html" %}
{% block content %}
  <!-- acceptModal -->
  <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      	<div class="modal-header">
      		<h3>Accept Shift</h3>
      	</div>
        <div class="modal-body">
          <h4>Are you sure you want to accept this shift?</h4>
          <p>If you accpet, you will be responsible for this shift unless the trade is rejected. You will not be able to relist the shift until initial trade is approved.</p>
        </div>
        <div class="modal-footer">
          <form class="col-md-12" action="{{url_for('showOpenShifts', userType=userType)}}" method="post">
            <input name="shiftID" type="text" value="" id="acceptID" hidden="True"/>
            <div class="row">
              <div class="form-group">
                <button type="submit" name="accept" class="btn btn-primary btn-lg pull-right" id="acceptBtn">Accept</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" aria-label="Close">Cancel</button>
              </div>
            </div>
          </form>
        </div>    
      </div>
    </div>
  </div>

  <!-- deleteModal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">   
        <div class="modal-body">
          <h3>Are you sure you want to delete shift?</h3>
        </div>
        <div class="modal-footer">
          <form class="col-md-12" action="{{url_for('showOpenShifts', userType=userType)}}" method="post">
            <input name="shiftID" type="text" value="" id="deleteID" hidden="True"/>
            <div class="row">
              <div class="form-group">
                <button type="submit" name="delete" class="btn btn-danger" id="deleteBtn">Yes</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal" aria-label="Close">No</button>
              </div>
            </div>
          </form>
        </div>    
      </div>
    </div>
  </div>


	<div class="container content-fluid">
		<div class="row">
			<h1>Store Manager: {{manager}}</h1>
		</div>

	{% include "flash.html" %}

	<div class="row">
		<h2>Urgent Shift Requests: </h2>
	</div>
	<div class="row">
	<!-- Urgent Shift -->
	{% for shift in urgentShifts %}
      	{% if shift == urgentShifts[4] %}
          </div>
          <br>
          <div class="row">
        {% endif %}
		<div class="btn-group col-md-3">
			<button type="button" class="btn btn-danger dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="urgent{{shift[0]}}">
			<strong>
				{{ shift[4].month }}/{{ shift[4].day }}
			</strong>
			&#64;
			{% if shift[3] == 1 %}
				8:00am - 4:00pm
			{% elif shift[3] == 2 %}
				4:00pm - 12:00am
			{% elif shift[3] == 3 %}
				12:00am - 8:00am
			{% endif %}
      {% if user_perms[-2] == true or (userType == 'Employee' and user_perms[1] == true) %}
			<span class="caret"></span>
      {% endif %}
			</button>
      {% if user_perms[-2] == true or (userType == 'Employee' and user_perms[1] == true) %}
      <ul class="dropdown-menu">
      {% if userType == 'Employee' and user_perms[1] == true %}
          <li><a href="#" data-toggle="modal" data-target="#acceptModal" class="accept_link" shiftID="{{shift[0]}}">Accept</a></li>
      {% endif %}
      {% if user_perms[-2] == true %}
          <li><a href="#" data-toggle="modal" data-target="#deleteModal"  class="delete_link" shiftID="{{ shift[0] }}">Delete</a></li>
      {% endif %}
      </ul>
      {% endif %}
		</div>
	{% endfor %}
	</div>

	<br>
	<br>

    <div class="row">
    <h2>Open Shift Requests: </h2>
    <!-- Regular Shifts -->
      {% for shift in nonUrgentShifts %}
        {% if shift == nonUrgentShifts[4] %}
          </div>
          <br>
          <div class="row">
        {% endif %}
		<div class="btn-group col-md-3">
			<button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<strong>
					{{ shift[4].month }}/{{ shift[4].day }}
				</strong>
				&#64;
				{% if shift[3] == 1 %}
					8:00am - 4:00pm
				{% elif shift[3] == 2 %}
					4:00pm - 12:00am
				{% elif shift[3] == 3 %}
					12:00am - 8:00am
				{% endif %}
			{% if user_perms[-2] == true or (userType == 'Employee' and user_perms[1] == true) %}
      <span class="caret"></span>
      {% endif %}
      </button>
      {% if user_perms[-2] == true or (userType == 'Employee' and user_perms[1] == true) %}
      <ul class="dropdown-menu">
      {% if userType == 'Employee' and user_perms[1] == true %}
          <li><a href="#" data-toggle="modal" data-target="#acceptModal" class="accept_link" shiftID="{{shift[0]}}">Accept</a></li>
      {% endif %}
      {% if user_perms[-2] == true %}
          <li><a href="#" data-toggle="modal" data-target="#deleteModal"  class="delete_link" shiftID="{{ shift[0] }}">Delete</a></li>
      {% endif %}
      </ul>
      {% endif %}
		</div>
	{% endfor %}
	</div>
</div>
<script>
  // Delete function
  $(document).on('click', '.delete_link', function (event) {
    // Get shift id of the element that was pressed
    var shiftID = $(event.target).attr('shiftID');
    console.log(shiftID);
    // Change value of shift to be deleted on delete modal form.
    $("#deleteID").attr("value", shiftID);
  })

  // Accept function
  $(document).on('click', '.accept_link', function (event) {
    // Get shift id of the element that was pressed
    var shiftID = $(event.target).attr('shiftID');
    console.log(shiftID);
    // Change value of shift to be deleted on delete modal form.
    $("#acceptID").attr("value", shiftID);
  })
</script>
{% endblock %}